.shapka{ 
    width: 100%; 
    height: 150px; 
	max-width:  960px;
	margin: 0 auto 0 auto;
    display:  flex;    
    flex-direction: row;
    align-items: center;
}

header {
    height:  150px;
    background-color: #71BC78;
    border: solid #f7f7f7;

}

.shapka p{ /*текст шапки*/
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight:bold;
    color: #f7f7f7;
    font-size:px;
    letter-spacing: 4px; /*отступ между буквами шапки */
}
.navigation {
    background-color: #71BC78;
    height: 75px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid #f7f7f7;
}
.navigation nav ul{
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0 50px;
    padding: 5px 0 5px;
}
.navigation ul li{
    display: block;
}

.navigation a{
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    display: block;
    color: rgb(255, 255, 255);
    font-weight:bold;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size:30px;
    margin: 0 45px 0 45px;
}
.web1 {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #71BC78;
    color: #f7f7f7;
    margin: 20px auto;
    padding: 0px 5px 0px;
    border:solid #f7f7f7;
}
a {
    text-decoration: none;
    color: #f7f7f7;
}
body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #f7f7f7;
    background-image: url(fon2.jpg);
    background-attachment: fixed;
    font-weight:bold;
}
.table{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #71BC78;
    padding: 0px 5px 5px;
    border: solid #f7f7f7;
}
.form {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #71BC78;
    padding: 0px 5px 5px;
    border: solid #f7f7f7;
}
footer{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #71BC78;
    padding: 0px 5px 5px;
    border: solid #f7f7f7;
}
